@use '../../styles/variables/common';

.button {
    box-sizing: border-box;
    height: 60px;
    max-width: 100%;
    min-width: 160px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: common.$gap;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    background-color: #fff;
    transition: 0.3s all;

    &.button__small {
        height: 40px;
        min-width: 100px;
        padding: #{common.$gap / 2};
        font-size: 14px;
    }

    &.button__big {
        height: 100px;
        min-width: 300px;
        border-width: 2px;
        padding: common.$gap-big;
        font-size: 40px;
    }

    &:hover,
    &:focus {
        opacity: 0.8;
    }
}
