@use '../../styles/variables/common';
@use '../../styles/variables/device-size';

.layout-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: #{common.$gap-layout * 2};
    width: 100%;

    .layout-logo {
        margin-bottom: common.$gap-big;
    }
}

.layout-logo {
    cursor: pointer;
}

.layout-logo-img {
    width: 200px;
}

.layout-headline {
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: device-size.$device-width-tablet) {
    .layout-header {
        flex-direction: row;
        height: #{common.$gap-layout * 2};

        .layout-logo {
            margin-right: common.$gap-big;
            margin-bottom: 0;
        }
    }

    .layout-headline {
        font-size: 24px;
    }
}
