@use '../../styles/variables/common';
@use '../../styles/variables/device-size';

.carouselCategory-link {
    display: flex;
    position: relative;
    outline: none;
    cursor: pointer;
}

.carouselCategory-image {
    border-radius: 8px;
}

.carouselCategory-voteAverage {
    position: absolute;
    left: common.$gap;
    bottom: common.$gap;
    z-index: 1;
    font-size: 32px;
    font-style: italic;
    text-shadow: 2px 2px #000;
    color: #fff;
    backface-visibility: hidden;
}

.carouselCategory-wish {
    font-size: 30px;
    position: absolute;
    top: common.$gap;
    left: common.$gap;
    opacity: 0;

    &:after {
        content: common.$emoji-heart;
    }

    &__wished {
        opacity: 1;
    }
}

@media (min-width: device-size.$device-width-laptop) {
    $translate: #{common.$gap / 2};
    .carouselCategory {
        .react-multi-carousel-item {
            box-sizing: border-box;
            padding: $translate;
        }
    }

    .carouselCategory-link {
        &:hover,
        &:focus {
            .carouselCategory-image {
                filter: drop-shadow($translate $translate 2px rgba(0, 0, 0, 0.8));
                transform: translate(-#{$translate}, -#{$translate});
            }
        }
    }

    .carouselCategory-image {
        filter: drop-shadow(0 0 0);
        transition: 0.2s all;
    }
}
