$device-width-4k: 2560px;
$device-width-desktop-l: 1920px;
$device-width-desktop: 1440px;
$device-width-laptop: 1024px;
$device-width-tablet: 768px;
$device-width-mobile-l: 425px;
$device-width-mobile-m: 375px;
$device-width-mobile-s: 320px;
